@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&family=Oswald:wght@300&display=swap");

:root {
  --background-color: #c1c1c1;
  --text-color: #333;
}
body {
  padding: 0 2%;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  /* transition: 0.5s; */
}
.dark-mode {
  --background-color: #333;
  --text-color: #c1c1c1;
}
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  /* transition: 0.5s; */
}
nav button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  padding: 0 0;
  font-size: 16px;
}

nav .profile {
  display: flex;
  align-items: center;
}
nav .profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  max-width: 270px;
  max-height: 280px;
}
nav .profile h1 {
  margin-left: 10px;
  font-size: 15px;
}
nav ul {
  display: flex;
  list-style-type: none;
}
nav li {
  margin-left: 20px;
  cursor: pointer;
  border-bottom: 1px solid;
  border-bottom-color: var(--background-color);
}
nav a {
  text-decoration: none;
  color: var(--text-color);
}
nav ul li:hover {
  border-bottom-color: var(--text-color);
}
.page-content {
  margin: 4%;
}
.page-content header {
  margin-top: 5%;
  max-width: 80%;
}
.page-content header h2 {
  margin: 0;
  text-transform: uppercase;
  font-family: "oswald", sans-serif;
  font-size: 6vw;
}
.page-content header p {
  line-height: 30px;
}
.page-content .presentation-image {
  margin-top: 5%;
}
.page-content .presentation-image img {
  width: 100%;
  height: auto;
}
.page-content .projets-section {
  margin-top: 6%;
}
.page-content .projets-section h2 {
  font-family: "oswald", sans-serif;
  text-transform: uppercase;
  font-size: 3vw;
}
.page-content .projets-section .projets {
  display: flex;
  flex-wrap: wrap;
}
.page-content .projets-section .projets .projet {
  margin-right: 20px;
  max-width: 195px;
}
.page-content .projets-section .projets .projet h4 {
  margin: 0;
}
.page-content .projets-section .projets .projet .description {
  font-size: 13px;
}
.page-content .projets-section .projets .projet .dates {
  font-size: 15px;
}
/* cv */

body .body-cv {
  font-family: Roboto;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.5;
}

p {
  margin: 0 0 1rem;
}

h1 {
  margin: 0 0 1rem;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

h2 .h2-cv {
  margin: 0 0 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.text-blue {
  color: #4472c4;
}

.text-darkblue {
  color: #002060;
}

.text-uppercase {
  text-transform: uppercase;
}

.icon {
  margin-right: 0.5rem;
}

.cv-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "left-column right-column right-column";
  width: 1200px;
  margin: 100px auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.section {
  margin-bottom: 1.5rem;
}

/* LEFT COLUMN */
.left-column {
  grid-area: left-column;
  padding: 50px;
  background-color: #4472c4;
  color: white;
}

.portait {
  border-radius: 50%;
  max-width: 150px;
  margin: auto;
  display: block;
  margin-bottom: 50px;
}

.skills {
  list-style-type: none;
  padding: 0;
  font-size: 1.1rem;
  letter-spacing: 1px;
  margin: 0 0 1rem;
}

/* RIGHT COLUMN */
.right-column {
  grid-area: right-column;
  background-color: #e4e4e4;
  color: #333;
  display: grid;
  grid-template-rows: 250px 1fr;
  grid-template-areas:
    "header"
    "content";
}

/* HEADER */
.header {
  grid-area: header;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infos {
  columns: 2;
  list-style-type: none;
  padding: 0;
}

/* CONTENT */
.content {
  grid-area: content;
  padding: 50px;
}

.experience-list {
  list-style-type: circle;
}
footer {
  margin: 4%;
  display: flex;
  justify-content: space-between;
}
footer h3 {
  text-align: left;
}
footer p {
  text-align: right;
}
@media screen and (max-width: 880px) {
  nav {
    justify-content: center;
  }
  nav ul {
    display: none;
  }
  .page-content header {
    margin-top: 10%;
    max-width: 100%;
  }
  .page-content .presentation-image {
    width: 332px;
    height: 192px;
  }
  .page-content .projets-section {
    margin-top: 15%;
  }
  .page-content .projets-section h2 {
    font-size: 1.5em;
  }
  .page-content .projets-section .projets .projet {
    margin-right: 0;
    margin-bottom: 20px;
    max-width: 100%;
  }
  footer {
    margin-top: 20px;
    max-width: 100%;
  }
  footer h3 {
    font-size: 13px;
    margin: auto;
    margin-left: 0;
  }
  footer p {
    font-size: 10px;
    margin: auto;
    margin-right: 15px;
  }
  .cv-container {
    max-width: 100%;
    margin-top: 10%;
    margin-right: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
  }
}
