@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&family=Oswald:wght@300&display=swap");
html {
  background-color: #e4e4e4;
  color: #000;
}

body {
  padding: 0 2%;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #e4e4e4;
}
nav .profile {
  display: flex;
  align-items: center;
}
nav .profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
nav .profile h1 {
  margin-left: 10px;
  font-size: 15px;
}
nav ul {
  display: flex;
  list-style-type: none;
}
nav li {
  margin-left: 20px;
  cursor: pointer;
  border-bottom: 1px solid #e4e4e4;
}
nav a {
  text-decoration: none;
  color: #000;
}
nav ul li:hover {
  border-bottom-color: #333;
}
.page-content {
  margin: 4%;
}
.page-content header {
  margin-top: 5%;
  max-width: 80%;
}
.page-content header h2 {
  margin: 0;
  text-transform: uppercase;
  font-family: "oswald", sans-serif;
  font-size: 6vw;
}
.page-content header p {
  line-height: 30px;
}
.page-content header button:hover {
  border-bottom-color: #000;
}
.page-content .presentation-image {
  margin-top: 5%;
}
.page-content .presentation-image img {
  width: 100%;
  height: auto;
}
.page-content .projets-section {
  margin-top: 6%;
}
.page-content .projets-section h2 {
  font-family: "oswald", sans-serif;
  text-transform: uppercase;
  font-size: 3vw;
}
.page-content .projets-section .projets {
  display: flex;
  flex-wrap: wrap;
}
.page-content .projets-section .projets .projet {
  margin-right: 20px;
  max-width: 195px;
}
.page-content .projets-section .projets .projet h4 {
  margin: 0;
}
.page-content .projets-section .projets .projet .description {
  font-size: 13px;
}
.page-content .projets-section .projets .projet .dates {
  font-size: 15px;
}
footer {
  margin-top: 100px;
  text-align: center;
}
footer p {
  font-size: 15px;
}
@media screen and (max-width: 880px) {
  nav {
    justify-content: center;
  }
  nav ul {
    display: none;
  }
  .page-content header {
    margin-top: 10%;
    max-width: 100%;
  }
  .page-content .projets-section {
    margin-top: 15%;
  }
  .page-content .projets-section h2 {
    font-size: 1.5em;
  }
  .page-content .projets-section .projets .projet {
    margin-right: 0;
    margin-bottom: 20px;
    max-width: 100%;
  }
  footer {
    margin-top: 20px;
  }
  footer h3 {
    font-size: 13px;
  }
  footer p {
    font-size: 10px;
  }
}
